body{
	margin: 0;
	margin-top: -40px;
}
a{
	text-decoration: none;
	color: inherit;
}
footer{
	font-size:30px;
	font-family:'Segoe UI';
	color: #000000;
	font-weight: normal;
	text-align: center;
	padding-bottom: 8%;
	margin-top: 7%;
}


.title-name{
	width: 100%;
	height:200px;
	background-color: #242424;
	margin: 0;
}
#title-name{
	font-family: "Segoe UI";
	text-align: center;
	padding-top: 70px;
	color: white;
	font-size: 44px;
	font-weight: normal;
	letter-spacing: 1px;
	
}

.nav-bar{
	margin-top: 30px;
	display: flex;
	font-size: 30px;
	justify-content: center;
	align-items: center;

}
.nav-item{
	padding-bottom: 1%;
	margin-left: 140px;
	letter-spacing: 1px;
	font-family: "Segoe UI";
	font-weight: normal;
	color: #707070;
	
}
.contact{
	color: #0072FF;
}
.active{
	color: #0072FF;
}

.active::after{
	content: '';
	display: block;
	height: 4px;
	width: 170%;
	margin-left: -57px;
	top: 300px; 
	font-family: 'Segoe UI';
	font-weight: normal;
	color: #0072FF;
	background: linear-gradient(130deg, #0072FF, #007DFF 41%, #00C6FF 76%);
}


.foot{
	background-color: #242424;
	width: 100%;
	height: 200px;
	margin-bottom: -110px;
	padding-top: 20px;
}